.r {
  outline: 1px solid red;
}

html{
box-sizing:border-box;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* section-first main */

.section-first {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

